.array-container {
  position: absolute;
  left: 100px;
  top: 100px;
}

.header-container {
  position: absolute;
  left: 100px;
}

.speedSlider {
  width: 200px;
  margin-top: 10px;
}

.array-bar {
  width: 2px;
  display: inline-block;
  margin: 0 1px;
}
